In [ ]:
strVal = 'data science'
nVal = 12345
fVal = 1.2
lVal = { 'data', 'science' }
dVal = { 'lecture' : 'data science' }
bVal = True

In [ ]:
# 기본적인 주석

In [ ]:
'''
이런 형태의 주석도 많이 사용
'''

In [ ]:
strVal
nVal
fVal
lVal
dVal
bVal

In [ ]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

In [ ]:
print('strVal : ', type(strVal))
print('nVal : ', type(nVal))
print('fVal : ', type(fVal))
print('lVal : ', type(lVal))
print('dVal : ', type(dVal))
print('bVal : ', type(bVal))

In [ ]:
# 같은 변명일 경우, 이전 데이터를 덮어씀
nVal = 16
fVal = 3.14

In [ ]:
print('10진수 표현 : ', nVal)
print('2진수 표현 : ', bin(nVal))
print('8진수 표현 : ', oct(nVal))
print('16진수 표현 : ', hex(nVal))

In [ ]:
btVal = True
bfVal = False

In [ ]:
btVal = TRUE
bfVal = FALSE

In [ ]:
btVal = true
bfVal = false

In [ ]:
10 == 11
10 != 11
10 >= 11
10 <= 11
10 > 11
10 < 11

In [ ]:
nBig = 100
nSmall = 10

In [ ]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

In [ ]:
print(nBig =< nSmall)
print(nBig => nSmall)

In [ ]:
strData = 'data'
strSci = "Science"

In [ ]:
strLecture = strData + strSci
strLecture

In [ ]:
strLecture.split()
lSeperate = strLecture.split()
type(lSeperate)

In [ ]:
strHello = "안녕하세요. 반갑습니다."
strHello.find("반갑")
strHello.find("hello")
"반갑" in strHello

In [ ]:
strHello.replace('.', '?')

In [ ]:
strHello.replace('.', '?')
strHello.replace("하세요", "하셔유")
strHello

In [ ]:
strNewHello = strHello.replace('.', '?')
strNewHello = strNewHello.replace("하세요", "하셔유")
strNewHello

In [ ]:
strHello.strip('반갑습니다.')
strHello

In [ ]:
InData = [1, 2, 3, 4, 5]
print(Indata)
print('type : ', type(InData))

In [ ]:
print(InData[0])
print(InData[3])
InData[0] = InData[4]
print(InData)
print(InData[2:4])

In [ ]:
InData = [1, 2, 3, 4, 5]
IstrData = ['a', 'b', 'c']

InData + IstrData

In [ ]:
InData.append(10)
InData
InData.insert(0, 'python')
InData

In [ ]:
InData.remove('python')
InData

In [ ]:
del InData[5]
InData

In [ ]:
InData

In [ ]:
InData.pop(0)
InData

In [ ]:
InData.pop()
InData

In [ ]:
InData.clear()
InData

In [ ]:
tVal = ("사과", "딸기", "바나나", "토마토", "키위")
print(tVal)
print(type(tVal))

In [ ]:
tVal[0] = "포도"

In [ ]:
tData = (1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.Count(1)

In [ ]:
len(tVal)
len(tData)

In [ ]:
print(tData[2:5])

In [ ]:
tTuple = tVal + tData
print(tTuple)

In [ ]:
tData * 2
tData

In [ ]:
tData2 = tData * 2
print(tData2)

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

In [ ]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

In [ ]:
sVal = {1, 2, 3, 4, 5}
print(sVal)
print(type(sVal))
sVal[1:2]

In [ ]:
sVal.add(100)
print(sVal)

sVal.update([200, 300])
print(sVal)

sVal.remove(200)
print(sVal)

sVal.clear()
print(sVal)

In [ ]:
sVal = { 100, 200, 300, 400, 500 }
sData = { "a", "b", "c", "c", 100, 300 }
print(sVal)
print(sData)

In [ ]:
sVal.intersection(sData)
sVal.difference(sData)
sVal - sData
sVal.union(sData)
sVal + sData
sVal.symmetric_difference(sData)

In [ ]:
dVal = {
    'name' : '이컴공',
    'email' : 'computer@hoseo.edu',
    'address' : '충남 아산시'
}
print(dVal)
print(type(dVal))

In [ ]:
dData = {
    "사과" : 300,
    "포도" : 200,
    "배" : 500,
    "키위" : 100
}

In [ ]:
print(dData["배"])
dData.get("배")

In [ ]:
dData["딸기"] = 100
print(dData)

In [ ]:
dData.pop("사과")
dData

In [ ]:
dData.pop()

In [ ]:
sorted(dData)

In [ ]:
sorted(dData.values())

In [ ]:
dData

In [ ]:
def f(x):
    return x + 10

In [ ]:
f(2)

In [ ]:
strText = input("아무 문장이나 입력하세요 : ")
print(strText)

In [ ]:
flVal = [1.0, 2.0, 3.14, 4.2, 5.1]

In [ ]:
arVal = [flVal, flVal, flVal]
arVal

In [ ]:
arVal[0]
arVal[1]
arVal[1][2]

In [ ]:
arVal[0] = 'python'
arVal

In [ ]:
arVal[0][2]
arVal[0] = 'python programming'
arVal

In [ ]:
import numpy as np
arData = np.array([1.0, 2.0, 3.14, 4.2, 5.1])
arData

In [ ]:
arData.sum()

In [ ]:
arVal.sum()

In [ ]:
print(type(arVal))
print(type(arData))

In [ ]:
arData.std()
arData.cumsum()

In [ ]:
arData * 2

In [ ]:
arData ** 2

In [ ]:
np.sqrt(arData)

In [ ]:
arVal = np.array([arData, arData ** 2])
arVal

In [ ]:
arVal.sum(axis = 0)
arVal.sum(axis = 1)

In [ ]:
np.array([[0, 0, 0], [0, 0, 0]])

In [ ]:
arZero = np.zeros((2, 3), dtype = 'i')
arZero

In [ ]:
import pandas as pd

pandas_series = pd.Series([30, 20, 10], index = ['국어', '영어', '수학'])
print(type(pandas_series))
pandas_series

In [ ]:
pandas_series[1:]

In [ ]:
pandas_series[0]

In [ ]:
pandas_series[0][1]

In [ ]:
df = pd.DataFrame([30, 20, 10], columns = ['score'], index = ['국어', '영어', '수학'])
df

In [ ]:
df.index
df.columns
df.loc['국어']
df.sum()
df.score ** 2

In [ ]:
df['score2'] = (50, 50, 50)
df

In [ ]:
df['score2'] = pd.DataFrame([90, 90, 90], index = ['국어', '영어', '수학'])
df

In [ ]:
del df['score']

In [ ]:
df['score2'] = (90, 90, 90, 100)

In [ ]:
df['score2'] = pd.DataFrame([90, 90, 90, 100], index = ['국어', '영어', '수학', '윤리'])
df

In [ ]:
df1 = pd.DataFrame([1, 2, 3], columns = ['A'])
df2 = pd.DataFrame([10, 11, 12, 13], columns = ['B'])

df = df1.join(df2, how = 'outer')
df

In [ ]:
df_inner = df1.join(df2, how = 'inner')
df_inner

In [ ]:
df = pd.DataFrame(np.random.randn(5, 5))
df.columns = ['A', 'B', 'C', 'D', 'E']

df

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.mean()

In [ ]:
df.std()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
df['division'] = ['X', 'Y', 'X', 'Y', 'Z']
df

In [ ]:
df.groupby(['division']).mean()

In [ ]:
import pandas as pd

sr = pd.Series([100, 200, 300, 400])
sr.index = ['A', 'B', 'O', 'AB']
sr

In [ ]:
sr1 = pd.Series([10, 20, 30])
sr1

In [ ]:
df = pd.DataFrame({'키' : [170, 180, 175], '몸무게' : [65, 78, 70]})
df.index = ['스파이더맨', '닥터스트레인지', '아이언맨']
df

In [ ]:
df = pd.read_csv('scores.csv', encoding = 'cp949')
df

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample(3)

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
len(df)

In [ ]:
df.isnull().sum()

In [ ]:
df_dropna = df.dropna()
df_dropna

In [ ]:
df_fillna = df.fillna(50)
df_fillna

In [ ]:
df.describe()

In [ ]:
df['국어'].sum()

In [ ]:
df.value_counts('영어')

In [ ]:
df['국어']

In [ ]:
df[['국어', '영어']]

In [ ]:
df.loc[[1, 2, 3]]

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[2:5]

In [ ]:
df.loc[2:5]

In [ ]:
df

In [ ]:
df.iloc[1,3]

In [ ]:
df.iloc[1:3, 1:3]

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [ ]:
plt.rc('font', family = 'NanumBarunGothic')

ply.rc('axes', unicode_minus = False)

In [ ]:
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

plt.plot(x, y)
plt.show()

In [ ]:
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

plt.plot(x, y, color = "blue", marker = 'o', linestyle = ':')
plt.title('월별 평균 온도', fontsize = 15)
plt.ylabel('온도(도)')
plt.grid(linestyle = ':')
plt.show()

In [ ]:
aVal = np.random.standard_normal(40)
aVal

In [ ]:
type(aVal)

In [ ]:
index = range(len(aVal))
plt.plot(index, aVal)

plt.xlim(0, 20)
plt.ylim(np.min(aVal) -1, np.max(aVal) + 1)
plt.show()

In [ ]:
type(index)

In [ ]:
plt.figure(figsize = (7, 4))
plt.plot(aVal.cumsum(), 'b', lw = 1.5)
plt.plot(aVal.cumsum(), 'ro')
plt.xlabel('index')
plt.ylabel('aVal')
plt.title('Line Plot')
plt.show()

In [ ]:
value = np.random.standard_normal((30, 2))
value

In [ ]:
value[0]

In [ ]:
plt.figure(figsize = (10, 4))
plt.plot(value[:, 0], lw = 1.5)
plt.plot(value[:, 1], lw = 1.5)
plt.plot(value, 'ro')
plt.grid(True)
# plt.legend(loc = 0)
plt.xlabel('index')
plt.ylabel('value')
plt.title('Line Plot')

In [ ]:
plt.figure(figsize = (10, 5))
plt.subplot(211)
plt.plot(value[: ,0], lw = 1.5, label = '1st')
plt.plot(value[: ,0], 'ro')
plt.grid(True)
plt.legend(loc = 0)
plt.ylabel("value")
plt.title('Line Plot 3')

plt.subplot(212)
plt.plot(value[:, 1], 'g', lw = 1.5, label = '2nd')
plt.grid(True)
plt.legend(loc = 0)
plt.axis('tight')
plt.ylabel('value')

In [ ]:
plt.figure(figsize = (13, 5))
plt.subplot(231)
plt.plot(value[:, 0], lw = 1.5, label = "1st")
plt.plot(value[:, 0], 'co')
plt.grid(True)
plt.legend(loc = 0)
plt.ylabel('value')
plt.title('Line Plot 3')

plt.subplot(232)
plt.plot(value[:, 0], 'g-.', lw = 1.5, label = "1st")
plt.grid(True)
plt.legend(loc = 0)
plt.axis('tight')
plt.ylabel('value')

plt.subplot(233)
plt.plot(value[:, 0], 'g', lw = 1.5, label = "1st")
plt.plot(value[:, 0], 'bD')
plt.grid(True)
plt.legend(loc = 0)
plt.axis('tight')
plt.ylabel('value')

plt.subplot(234)
plt.plot(value[:, 1], '*', lw = 1.5, label = "2nd")
plt.grid(True)
plt.legend(loc = 0)
plt.axis('tight')
plt.ylabel('value')

plt.subplot(235)
plt.plot(value[:, 1], 'b', lw = 1.5, label = "2nd")
plt.plot(value[:, 1], 'ms')
plt.grid(True)
plt.legend(loc = 0)
plt.axis('tight')
plt.ylabel('value')

plt.subplot(235)
plt.plot(value[:, 1], 'r--', lw = 1.5, label = "2nd")
plt.grid(True)
plt.legend(loc = 0)
plt.axis('tight')
plt.ylabel('value')

In [ ]:
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

plt.bar(x, y)
plt.show()

In [ ]:
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

plt.barh(x, y)
plt.show()

In [ ]:
x = ['1월', '2월', '3월', '4월', '5월']
y = [7, 10, 17, 20, 23]

plt.bar(x, y, color = "orange", width = 0.5, edgecolor = 'black', hatch = '/')
plt.title('월별 평균 온도', fontsize = 15)
plt.ylabel('온도(도)')
plt.grid(linestyle = ':', axis = 'y')
plt.show()

In [ ]:
import pandas as pd

df = pd.read_csv('scores.csv', encoding = 'cp949')
df

In [ ]:
x = df['이름']
y_kor = df['국어']

plt.bar(x, y_kor)
plt.show()

In [ ]:
x = df['이름']
y_kor = df['국어']
y_eng = df['영어']

plt.bar(x, y_kor, width = -0.4, align = 'edge', label = '국어')
plt.bar(x, y_eng, width = 0.4, align = 'edge', label = '영어')
plt.title('국어/영어 점수 비교', fontsize = 15)
plt.ylabel('점수')

plt.legend()
plt.show()

In [ ]:
value = np.random.standard_normal((500, 2))
plt.plot(value[:, 0], value[:, 1], 'ro')
plt.grid(False)
plt.xlabel('value1')
plt.xlabel('value2')
plt.title('Scatter Plot 1')

In [ ]:
plt.figure(figsize = (7, 5))
plt.scatter(value[:, 0], value[:, 1], marker = 'o')
plt.grid(True)
plt.xlabel('value 1')
plt.xlabel('value 2')
plt.title('Scatter Plot 2')

In [ ]:
color = np.random.randint(0, 10, len(value))

plt.figure(figsize = (10, 5))
plt.scatter(value[:, 0], value[:, 1], c = color, marker = 'o')
plt.colorbar()
plt.xlabel('value 1')
plt.xlabel('value 2')
plt.title('Scatter Plot 3')

In [ ]:
import seaborn as sns
df = sns.load_dataset('tips')
df

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
x = df['total_bill']
y = df['tip']

sns.scatterplot(x,y)

In [ ]:
sns.boxplot(x = "day", y = "tip", hue = "sex", data = df, palette = "muted")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

iris = sns.load_dataset('iris')
iris

In [ ]:
iris.groupby('species').size()

In [ ]:
iris.describe()

In [ ]:
type(iris)

In [ ]:
# seaborn
sns.parirplot(iris)
plt.title("lris Data Analysis")

In [ ]:
# kde plot을 적용
sns.pairplot(iris, hue = "species", diag_kind = 'kde')

In [ ]:
sns.boxplot(x = 'species', y = "petal_length", data = iris)

In [ ]:
sns.boxplot(x = 'species', y = "petal_width", data = iris)

In [ ]:
# pandas box plot
iris.boxplot(by = "species", figsize = (16.8))